Makefile.in
.DS_Store
Makefile
COPYING
INSTALL
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/src/loftp
/src/.deps
*.swp
*.o
.vimlocal
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
.deps/
.dirstamp
